---
layout: default
index: true
---

<div class="row">
  <!-- Blog Post Links -->
  <div class="blog-post-small">
    
    {% for post in site.posts %}
      <div class="blogpost">
        <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <p><i class="fa fa-calendar"></i> &nbsp;{{ post.date | date: "%b %-d, %Y" }}</p>
        {% if post.content contains '<!-- more -->' %}
          <p>{{ post.content | split:'<!-- more -->' | first }}
            <a href="{{ post.url }}">Read More</a>
          </p>
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>